@CHARSET "ISO-8859-1";


.background
{
    background-color:#EBEBE0;
}

.title
{
    font-size:20pt;
}

.error
{
	color:red;
}

.confirmed
{
	color:green;
}

/***** TABLES */
.table
{
    width: 100%;
    border-collapse: collapse; 
    background:white;

}
/* td is standard table, th is header table*/
.table td {
    padding: 2px;
    border: 1px solid #ccccff; /* let's apply borders */
}

.table th
{
    background: #eeeeff;
    font-weight: normal;
    font-size:12pt;
}
